.markdown-body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #ffffff;
  color: #24292e;
  border-radius: 8px;

  pre {
    background-color: #f6f8fa; /* Light background for code blocks*/
    color: #24292e;
  }

  h1 {
    border-bottom: 1.5px solid #000000;
  }

  h2 {
    border-bottom: 1px solid #000000;
  }

  hr {
    background-color: #ffffff;
    border: none;
    border-top: 2px dotted #5d5d5d;
    height: 0.5px;
  }
}
