{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:eslint-comments/recommended"
      ],
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    }
  ]
}
