version: '3'

services:
  app:
    image: 'boilerplate-mern'
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: 'development'
    environment:
      NODE_APP_INSTANCE: 'docker'
    command: 'npm test'
    depends_on:
      - db

  db:
    image: mongo:5.0
    ports:
      - '27017:27017'
