<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Jalan Technology Consulting | Home</title>
<link href="./public/css/site.css" rel="stylesheet">
<script type = "text/javascript" >
	window.inspectlet_key = '<%= inspectlet_key %>';
</script>
