<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../partials/head'); %>
  </head>
  
  <body class="d-flex flex-column h-100">
    <div id="app"></div>
  </body>
  <script src="web.bundle.js"></script>
</html>
